<header class="header">
    <div class="search-bar">
        <input type="text" class="form-control" (ngModelChange)="search()"  [(ngModel)]="searchInput" name="searchInput" id="searchInput" ngModel placeholder="Buscar...">
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-file-earmark-plus"></i> Agregar juego 
    </button>
    <button type="button" class="m-3 btn btn-danger" (click)="salir()" >
       Salir
    </button>
</header>

 


<div class="container mt-5" >
    
    <table class="table table-striped mt-5" >
    <thead >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FOTO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">DESCIPCION</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CATEGORIA</th>
      </tr>
    </thead>
    <tbody>
    @for (item of games; track $index) {
        <tr class="text-center row__style">
            <td scope="row"> {{item.id}}</td>
            <td> <img [ngSrc]="item.images[0]" alt="" width="50" height="50"></td>
            <td> {{item.title}}</td>
            <td class="text-start"> {{item.description}}</td>
            <td> {{item.price}}</td>
            <td> {{item.category.name}}</td>
            <td>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-warning me-2"><i class="bi bi-pencil"></i></button>

                            <button type="button" class="btn btn-danger me-2" (click)="deleteGames(item.id)">
                                <i class="bi bi-file-earmark-x"></i>
                                
                            </button>
                </div>

            </td>
        </tr>
    }
    </tbody>
  </table></div>
 



 


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar un nuevo Juego</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="addProduct()">
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="nameGamesNew" class="form-label">Nombre</label>
                        <input type="text" [(ngModel)]="nameGamesNew" name="nameGamesNew" class="form-control" id="nameGamesNew"
                            placeholder="Nombre del juego">
                    </div>

                    <div class="mb-3">
                        <label for="priceGamesNew" class="form-label">Precio</label>
                        <input type="number" [(ngModel)]="priceGamesNew" name="priceGamesNew" class="form-control" id="priceGamesNew"
                            placeholder="Precio del juego">
                    </div>

                    <div class="mb-3">
                        <label for="descriptionGamesNew" class="form-label">Descripcion</label>
                        <div class="form-floating">
                            <textarea class="form-control" [(ngModel)]="descriptionGamesNew" name="descriptionGamesNew"
                                placeholder="Leave a comment here" id="descriptionGamesNew"></textarea>
                            <label for="descriptionGamesNew">Descripcion</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="categoryGamesNew">Categoria</label>
                        <select class="form-select" [(ngModel)]="categoryGamesNew" name="categoryGamesNew"
                            aria-label="Default select example" id="categoryGamesNew">
                            @for (category of categories; track $index) {
                            <option value="{{category.id}}">{{category.name}}</option>

                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="photo" class="form-label">Fotografia</label>
                        <input type="url" [(ngModel)]="photoGamesNew" name="photoGamesNew" class="form-control" id="photoGamesNew"
                            placeholder="https://imagen.png">
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-success"><i class="bi bi-floppy-fill"></i> Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>