

.header {
    background: rgb(238,174,202);
background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
    color: white; 
    padding: 60px;
}

.search-bar {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.search-bar[type="text"] {
    padding: 8px;
    width: 700px; /* Ajusta el ancho según sea necesario */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 
}

.header {
    display: flex;
    align-items: center; /* Esto centrará verticalmente los elementos */
}




.full-hd-image {
    object-fit: cover;  /* La imagen cubrirá el contenedor, recortando las partes necesarias */
    object-position: center;  /* Centra la imagen dentro del contenedor */
}




.title_card{
    font-size: 20px;
}

.description_card{
    font-size: 15px;
}

.price_card{
    color: green;
}

.img__carrusel{
    height: 500px;
    object-fit: cover;  /* La imagen cubrirá el contenedor, recortando las partes necesarias */
    object-position: center;  /* Centra la imagen dentro del contenedor */
}

.halo{
    object-position: center;  /* Centra la imagen dentro del contenedor */
}